<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hiline"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LupaPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiDtK"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiLinks"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiPoint"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiSalah"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiMoF"
            android:exported="false" />
        <activity
            android:name=".admin.layanan.MapSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".admin.edukasi.EdukasiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.konsultasi.KonsultasiActivity"
            android:exported="false" />
        <activity
            android:name=".user.edukasi.EdukasiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.ForumRayaEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.ForumRayaTambahActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.ForumRayaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.layanan.LayananRayaEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.layanan.LayananRayaTambahActivity"
            android:exported="false" />
        <activity
            android:name=".admin.layanan.LayananRayaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.PengaduanKomentarActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.PengaduanInfoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.forum.ForumRayaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.layanan.LayananRayaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.profile.ProfileAdminEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.profile.ProfileAdminInfoActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.LaporkanKomentarLainnyaActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.LaporkanKomentarActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.ForumRayaKomentarActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.ForumRayaActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.RiwayatPengaduanInfoActivity"
            android:exported="false" />
        <activity
            android:name=".user.forum.RiwayatPengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".GantiPwActivity"
            android:exported="false" />
        <activity
            android:name=".GantiPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.layanan.LayananRayaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.layanan.LayananRayaActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.ProfileUserEditActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.ProfileUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.MainUserActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>